@media only screen and (max-width : 1024px) {
    .footer-item{
        margin-right: 0;
    }
    .accomodation-container{
        flex-direction: column;
    }
    .accomodation-marseille{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px; 
    }
    .popularity{
        width: 90%;
        margin: 0 auto;
    }

    
    }
    
}



@media only screen and (max-width : 767px) {

    /*mobile paysage*/

    {
       
    }

   

    

}
/*mobile portrait*/
@media only screen and (max-width : 480px){
body{
    margin: 0;
}
footer{
    flex-direction: column;
}
input{
    width: 230px;
}
.search-button{
    display: none;
}
.up{
    position: absolute;
    top: 48px;
    right: 22px;
}
header{
    margin: 0px 10px 0px 10px;
}
nav ul{
   width: 100%;
}
.list-lien{
    width: 50%;
    text-align: center;
}
.accomodation-container{
    flex-direction: column-reverse;
}
.accomodation-marseille{
    background: none;
}
.popularity{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 0;
}
.popularity-card-item{
    display: flex;
    width: 90%;
}
.activities-card-item{
    margin: 0;
}
.container-double-vignettes{
    width: 100%;
}
.activities-card-item{
    width: 90%;
}
.activities img{
    width: 100%;
}
.search-icon{
    display:inline-block;
}
.size p{
    font-size: 14px;
    line-height: 17px;
}
    


       
     

}

