@media only screen and (max-width : 1024px) {
    .footer-item{
        margin-right: 0;
    }
    .accomodation-container{
        flex-direction: column;
    }
    .accomodation-marseille{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 30px; 
    }
    .popularity{
        width: 90%;
        margin: 0 auto;
    }

    
    }
    
}



@media only screen and (max-width : 767px) {

    /*mobile paysage*/

    {
       
    }

   

    

}

@media only screen and (max-width : 480px) {

    /*mobile portrait*/

        .container{
    
        }

       
     

}

