@charset "UTF8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*font*/
body{
	font-family: 'Raleway', sans-serif;
}
ul{
	list-style: none;
}
.logo {
	display: flex;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: var(--black);
}
.placeholder {
	color: black;
}
img{
	object-fit: cover;
}
h3{
	font-weight: 700;
}
/*Navigation*/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.nav ul {
	display: flex;
	list-style: none;
}
.nav-link,
.subscribe-link {
	padding: 2rem 3rem 0 3rem;
	border-top: 2px solid transparent;
}
.nav-link:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
}
/*serche section*/
.search-form {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-bottom: 1.5rem;
}
.search-form i {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	min-width: 3rem;
	min-height: 2.96rem;
	border-radius: 1rem 0 0 1rem;
	background-color: #f2f2f2;
}
.search-form input {
	height: 2.64rem;
	font-weight: bold;
	padding-left: 1rem;
	border-left: 0;
	border-right: 0;
	border-top: 0.1rem solid #f2f2f2;
	border-bottom: 0.1rem solid #f2f2f2;
}
.search-form input:focus {
	outline: 1px solid #f2f2f2;
}
.search-form button {
	padding: 0 1rem;
	height: 3rem;
	font-weight: bold;
	border: none;
	border-radius: 0 1rem 1rem 0;
	background-color: #0065fc;
	color: white;
}
/*filtres*/
.filters {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding-bottom: 1.8rem;
}
.filter-title {
	padding-right: 2rem;
}
.filters .filter-link {
	display: flex;
	flex-wrap: nowrap;
	padding: 0 2rem 0 0;
	border-radius: 3rem;
	border: 2px solid #f2f2f2;
	font-weight: bold;
	margin-right: 2.2rem;
	background-color: white;
}
.filters .filter-link:hover {
	background-color: #f2f2f2;
}
.filter-link i {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	color: #0065fc;
	background: #deebff;
}
.filters button span {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1.2rem;
	min-width: 3rem;
	height: 3rem;
}
.info{
	display: flex;
	align-items: center;
	padding-bottom:2rem;
}
.icon{
	color: #0065fc;
	border:2px solid #f2f2f2;
	border-radius: 50%;
	padding: 5px 10px 5px 10px;
	margin-right: 8px;
}

/*main*/
.accomodation-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*accomodation-marseille section*/
.accomodation-marseille{
	background: #f2f2f2;
	border-radius: 15px;
	width: 61%;
	
}
.title-accomodation{
	padding-bottom: 30px;
	margin-top: 45px;
	font-weight: 700;
}

.accomodation-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.accomodation-card-item{
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 10px #a1a1a1;
	background: white;
	border-radius: 15px;
	width: 250px;
	height: 210px;
	padding: 5px 5px 0 5px;
	margin-bottom: 40px;
}
.accomodation-card-item img{
	border-radius: 15px 15px 0 0;
	height: 115px;
	width: 248px;
}
.accomodation-card-item-sub-content{
	margin-top: 15px;

}
.accomodation-card-item-sub-content p{
	margin-top: 10px;

}
.rating {
	color: #b1b1b1;
	margin-top: 10px;
}
.fa-star--activate {
	color: #0065fc;
}
.show-more{
	border: none;
	background: none;
	font-weight: bold;
}
/*popularity-section*/
.popularity{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background: #f2f2f2;
	width: 30%;
	border-radius: 15px;
	
}
.popularity-header{
	display: flex;
	justify-content: space-around;
	margin-bottom: 35px;
	padding-top: 35px;
	font-weight: 700;
}
.popularity-cards{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.popularity-card-item{
	display: flex;
	flex-direction: row;
	box-shadow: 0px 0px 10px var(--shadow);
	border-radius: 15px;
	background: white;
	height: 136px;
	width: 345px;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.popularity-card-item img{
	max-width: 35%;
	min-width: 130px;
	height: 140px;
	border-radius: 1.5rem 0 0 1.5rem;
  }
.popularity-card-item-content{
	margin-top: 25px;
	margin-left: 20px;
}
.popularity-card-item-content .rating{
	margin-top: 45px;
}
/*Activités*/

.activities h2{
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 30px;
}
.activities-cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.activities-card-item{
display: flex;
flex-direction: column;
width: 305px;
border-radius: 15px 15px 15px 15px;
}
.card-img-1{
	border-radius: 15px 15px 0 0;
	height: 390px;
}
.card-img-2{
	border-radius: 15px 15px 0 0;
	height: 180px;
}
.card-img-3{
	border-radius: 15px 15px 0 0;
	height: 138px;
}
.card-img-4{
	border-radius: 15px 15px 0 0;
	height: 110px;
}
.card-img-5{
	border-radius: 15px 15px 0 0;
	height: 150px;
}

.footer{
	display: flex;
  	justify-content: flex-start;
	align-items: center;
	color: black;
  	margin: 0;
	background: #f2f2f2;
  	margin-top: 60px;
  	padding-right:50px; 
  	height: 220px;
}
.footer ul{
padding-left: 0;

}
.footer-accomodation{
	margin-left: 380px;
	margin-right: 292px;
}
.footer-item{
	margin-left: 50px;
}