/*font de page*/
*{
   font-family: Raleway,Arial, Helvetica, sans-serif;
}
.logo{
   display: flex;
   margin-top: 85px;
}
/*Navigation*/
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 5rem 0;
   margin-top: -150px; 
}
.nav ul{
   display: flex;
   list-style: none;
}
.nav-link{
padding: 6.3rem 3rem 0 3rem;
border-top: 2px solid transparent;
}
.nav-link a:hover{
color: green;
}
.subscribe-link{
   padding: 6.3rem 3rem 0 3rem;
   border-top: 2px solid transparent;
}
.nav-link:hover{
   
}
/*Case de recherche*/
.search-button{
   background-color: #0065FC;
   border: 6px #0065FC solid;
   border-radius: 0px 10px 10px 0px;
  color: white;
  font-weight: bold;
}
.accomodation{
display: flex;
justify-content: space-between;
background-color: #F2F2F2;
}
.popularity{
display: flex;
flex-direction: column;
align-items: flex-end;
background-color: #F2F2F2;
}
.activities{
   display: flex;
   justify-content: space-between;
}
footer{
   background-color: #F2F2F2;
}